@import "tailwindcss";

:root {
  --background: oklch(0.1998 0.0302 357.52);
  --background2: oklch(0.1504 0.0302 357.52);
  --foreground: #ffffff;
  --accent1: oklch(0.717 0.126273 214.3985);
  --accent2: oklch(0.6471 0.232 1.71);
  --accent3: oklch(0.8389 0.1153 198.66);
  --accent4: oklch(0.7201 0.1782 305.67);
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
  --color-accent3: var(--accent3);
  --color-accent4: var(--accent4);
  --font-main: var(--font-space-grotesk);
  --font-logo: var(--font-tektur);
}

.bg-grid-fade {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 60px 60px;
}
