@import "tailwindcss";

:root {
  --background: #211016;
  --foreground: #ffffff;
  --accent1: #00b7d4;
  --accent2: #f53384;
  --accent3: #5ce1e6;
  --accent4: #c083fc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
  --color-accent3: var(--accent3);
  --color-accent4: var(--accent4);
  --font-main: var(--font-space-grotesk);
  --font-logo: var(--font-tektur);
}
